@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #60BF81;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header h2 {
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    margin: 0px 5px;
}

.section-form {
    max-width: 800px;
    height: 400px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.377);
    border-radius: 10px;
}

.elementos {
    float: left;
    width: 42%;
    height: 90%;
    padding-top: 40px;
    text-align: center;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.img {
    float: right;
    width: 50%;
    height: 100%;
    background-color: #202091;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img img {
    margin: auto;
    display: block;
    margin-top: 90px;
    border-radius: 10px;
}

.campo {
    margin-bottom: 20px;
}

.campo label {
    display: block;
    margin-bottom: 0.2em;
	color: #191970;
	font-size: 1em;
}

.campo input[type="text"] {
	padding: 0.5em;
	border: 2px solid #191970;
    border-radius: 10px;
    outline: none;
} 

.campo input:focus {
	background: #dcdcf3;
}

button {
    width: 140px;
    padding: 12px;
    background-color: red;
    color: white;
    border: none;
    font-size: 1em;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(218, 64, 64);
}

.res {
    padding: 10px;
}

footer {
    text-align: center;
    color: white;
}

@media screen and (max-width: 768px) {
    .img img{
        width: 70%;
    }
}